.button {
    display: table-column;
    display: table-row-group;
    display: table-cell;
    display: table-row;
    display: table-header-group;
    display: table-footer-group;
    display: table-column-group;
    display: inline-table;
    display: table-caption;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transform: translateZ(0);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
    border-image: none;
    background: -webkit-linear-gradient(#eaf2f6 0, #e0ebf1 25%, #cfdeea 50%, #b8cfdb 75%, #a8c6d8 100%);
    background: -moz-linear-gradient(#eaf2f6 0, #e0ebf1 25%, #cfdeea 50%, #b8cfdb 75%, #a8c6d8 100%);
    background: -ms-linear-gradient(#eaf2f6 0, #e0ebf1 25%, #cfdeea 50%, #b8cfdb 75%, #a8c6d8 100%);
    background: linear-gradient(#eaf2f6 0, #e0ebf1 25%, #cfdeea 50%, #b8cfdb 75%, #a8c6d8 100%);
    -webkit-box-shadow: inset 0 1px 2px rgba(20, 60, 75, .7), 0 1px 0 rgba(255, 255, 255, .65);
    -moz-box-shadow: inset 0 1px 2px rgba(20, 60, 75, .7), 0 1px 0 rgba(255, 255, 255, .65);
    box-shadow: inset 0 1px 2px rgba(20, 60, 75, .7), 0 1px 0 rgba(255, 255, 255, .65);
}
input:placeholder, input::-webkit-input-placeholder, input::-moz-placeholder, input::placeholder,
input::selection, input::-moz-selection,
input::-webkit-search-cancel-button,
input::-webkit-search-decoration,
input::-moz-focus-inner,
input::-ms-browse,
input::-ms-check,
input::-ms-clear,
input::-ms-expand,
input::-ms-fill,
input::-ms-fill-lower,
input::-ms-fill-upper,
input::-ms-reveal,
input::-ms-thumb,
input::-ms-ticks-after,
input::-ms-ticks-before,
input::-ms-tooltip,
input::-ms-track,
input::-ms-value {
    position: absolute;

    text-overflow: ellipsis;
}
.button-name {
    -webkit-mask-image: -webkit-linear-gradient(left, #000 0, #000 80%, rgba(0,0,0,0) 100%);
}

.transition-test {
    transition: 0;
    transition-delay: 0;
    transition-timing-function: 0;
    transition-duration: 0;
    transition-property: 0;
}
.transform-test {
    transform: rotate(30deg);
    transform-origin: 100% 100%;
}
.perspective-test {
    perspective: 500px;
    perspective-origin: 50% 50%;
}
.image-set {
    background-image: -webkit-image-set( url('logo.png') 1x, url('logo@2x.png') 2x);
}
.smoothing-test {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
.unset-test {
    all: unset;
    all: initial;
    all: inherit;
}

.flex-test {
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-inline-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: -webkit-inline-flex;
    display: inline-flex;
    display: flex;
    flex-direction: column;
    flex-direction: row;

    justify-content: flex-start;
    flex-wrap: wrap-reverse;
    flex-flow: row wrap;
    flex: 2 0 0;
    -moz-box-direction: normal;
    -moz-box-pack: start;
    -moz-box-orient: horizontal;
    -moz-box-align: start;
    -ms-flex-pack: start;
    -ms-flex-line-pack: stretch;
    -ms-flex-align: start;
    -webkit-align-items: flex-end;
    -webkit-align-content: stretch;
    -webkit-align-self: flex-start;
    -webkit-flex: 2 0 0;
    -webkit-flex-wrap: wrap;
    -webkit-flex-flow: row wrap;
    -webkit-flex-direction: column;
    -webkit-flex-direction: column-reverse;
    -webkit-flex-direction: row;
    -webkit-flex-direction: row-reverse;
    -webkit-justify-content: flex-start;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-box-align: start;
    align-content: stretch;
    align-self: flex-start;
    align-items: flex-end;

    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex-item-align: auto;
}
keygen,main,math,menuitem,picture,source,svg,template,track {
    /**/
}

.weird-or-rare {
    font-effect: 1;
    font-emphasize: 1;
    font-emphasize-position: 1;
    font-emphasize-style: 1;
    outline-offset: 1;
    text-emphasis: 1;
    text-emphasis-color: 1;
    text-emphasis-style: 1;
    text-emphasis-position: 1;
    -webkit-text-align-last: 1;
    -moz-text-align-last: 1;
    -ms-text-align-last: 1;
    text-align-last: 1;
    -moz-tab-size: 1;
    -o-tab-size: 1;
    tab-size: 1;
    -ms-writing-mode: rtl;
    -ms-word-break: 1;
    word-break: 1;
}

.css3-units {
    width: 1.0vw;
    width: 2.7vh;
    width: 3vmin;
    width: 4vmax;
    transform: rotate(0.25turn);
    transition: 0.2ms all;
    width: calc(100%/3);
}
@media (min-resolution: 50dppx) {}


@-webkit-keyframes name-animation, name-animation2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes name-animation, name-animation2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes name-animation, name-animation2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes name-animation, name-animation2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
